html,
body {
  height: 100vh;
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  color: rgb(54, 54, 54);
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* styles for Header component */

.header {
  display: flex;
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
  height: 90px;
}

.header > .title {
  font-family: 'Fredoka One', cursive;
  flex: 1;
  font-size: 2.5em;
  align-self: center;
  padding: 0 10px;
}

.header > .credit {
  align-self: flex-end;
  padding: 0 10px;
}

/* styles for Weather component */

.container {
  display: flex;
  flex-direction: column;
}

.big-display {
  display: flex;
  padding: 20px;
  margin: 50px auto 20px auto;
}

.icon-temp {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 10px 10px;
  font-weight: 100;
  letter-spacing: 3px;
}

.icon-temp > i,
.icon-temp > .temp {
  padding: 0 8px;
}

.icon-temp > i {
  font-size: 7em;
}

.icon-temp > .temp {
  font-size: 5em;
}

div.temp > span {
  padding-top: 20px;
  font-size: 36px;
  position: absolute;
}

.location-date {
  text-align: right;
  padding: 20px 30px;
  width: 500px;
}

.location-date > h1,
.location-date > p {
  margin: 0;
}

/* styles for weatherDetails component */

.weather-details {
  display: flex;
  margin: 5px auto;
  width: 80%;
  padding: 0 20px;
}

.details > h1 {
  font-weight: 100;
  margin: 0;
  letter-spacing: 1px;
}

/* styles for DailyForecast component */

.daily-forecast {
  margin-top: 50px;
  display: flex;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 3px 3px rgba(50, 50, 50, 0.1);
  justify-content: center;
}

.daily-row {
  color: rgb(80, 80, 80);
  font-weight: 100;
  flex-direction: row;
  min-width: 100px;
  text-align: center;
  margin: 0 5px;
  padding: 10px 0;
}

.daily-row > .day {
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: 300;
}

.daily-row > i {
  color: rgba(255, 255, 255);
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
}
