html,
body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
}

a {
  text-decoration: none;
}

/* styles for Header component */

.header {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  height: 90px;
}

.header > .title {
  flex: 1;
  font-size: 2em;
  align-self: center;
  padding: 0 10px;
}

.header > .credit {
  align-self: flex-end;
  padding: 0 10px;
}

/* styles for ForecastCard component */

.container {
  display: flex;
}

.card {
  padding: 30px 10px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 8px;
}

.big-info {
  display: flex;
  justify-content: space-evenly;
}

.big-info > i {
  color: rgb(41, 41, 41);
  font-size: 4em;
}

.big-info > .temp {
  font-size: 3em;
  align-self: center;
}

.small-info {
  text-align: center;
  padding-top: 20px;
}

/* styles for DailyForecast component */

.daily-forecast {
  display: flex;
  padding-top: 20px;
}

.daily-row {
  color: white;
  flex-direction: row;
  min-width: 80px;
  text-align: center;
  background-color: rgb(63, 63, 63);
  border-radius: 8px;
  margin: 0 5px;
  padding: 10px 0;
}

.daily-row > .day {
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: 300;
}

.daily-row > i {
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
}
